h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px;
  margin-left: 10px;
}

ion-card {
//   background-color: #fff; /* Card background color */
  border-radius: 12px; /* Rounded corners */
  margin: 10px;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
//   color: #333; /* Card title text color */
}

ion-card-header {
  padding: 10px;
}

ion-card-content {
    padding: 10px;
}

// ion-title {
//   font-size: 24px;
//   font-weight: bold;
// }

// ion-header {
//   --ion-background-color: #2196F3; /* Header background color */
//   --ion-color-base: #fff; /* Header text color */
// }

// ion-button {
//   --ion-color-primary: #FF5733; /* Button background color when active */
//   --ion-color-medium: #666; /* Button background color when inactive */
//   font-size: 20px;
// }

// ion-content {
//   background-color: #f7f7f7; /* Background color of the content */
// }

// ion-card-header,
// ion-card-content {
//   border-bottom: 2px solid #eee; /* Separation line between header and content */
// }

// .card {
//   box-shadow: 0px 0px 10px 0px #ccc; /* Card shadow */
// }

// .genre {
//   color: #FF5733; /* Genre title text color */
// }

/* Customize the genre cards on hover */
// .card:hover {
//   background-color: #FF5733; /* Card background color on hover */
//   color: #fff; /* Text color on hover */
// }
