<ion-content [fullscreen]="true">
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="movies">
        <ion-icon name="film"></ion-icon>
        <ion-label>MOVIES</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shows">
        <ion-icon name="tv-outline"></ion-icon>
        <ion-label>TV SHOWS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="browse">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>BROWSE</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>SEARCH</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>