ion-avatar {
    --border-radius: 5px;
}

ion-card-title {
    font-size: 1.5em;
    white-space: normal;
}

ion-badge {
    font-size: 18px;
}

ion-card-subtitle {
    font-size: 15px;
}


.responsive-image {
    width: 100%;
    max-width: 100%;
    /* Ensure the image does not exceed its natural width */
    height: auto;
    /* Maintain the original aspect ratio */
    display: block;
    /* Remove any potential vertical spacing */
    margin: 0 auto;
    /* Center the image horizontally */
}

.overview {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
