ion-avatar {
    --border-radius: none;
}

ion-select {
    --border-color: #000000;
    min-width: 100px;
    margin: 0 10px;
}

.search-containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
}

//   .search-selection {
//     margin: 0 25px;
//     padding: 0 25px;
//     display: inline-flex;
//     background: rgba(255, 255, 255, 0.137);
//     backdrop-filter: blur(10.2px);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-left: none;
//     border-right: none;
//     border-radius: 25px;
//   }

// ion-button {
//     margin: 0 1rem 0 0;
// }