ion-card-title {
    font-size: 20px;
}

.question {
    font-size: 1rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.contact-section {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 2px;
}


// .contact {
//     padding: 0;
//     margin: 0;
// }

// .contact-card {
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
// }

// .contact-form {
//     margin-top: 20px;
// }

// .send-button {
//     margin-top: 20px;
//     background-color: #3498db;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     font-weight: bold;
// }

// .send-button:hover {
//     background-color: #217dbb;
// }